/* This is a comment */

h1{
  font-size: 50px;
}

#top h1{
  background-color: rgb(30,100,0);
  border: solid .5px white;
}

ul {
  color: blue;
  font-family: cursive;
  font-weight: 600;
}

img{
  width: 20vw;
}
