body{
  background-color: #DEF2C9;
  font-family: "Sahitya";
  color: #020659;
}

#top{
  border-radius: 15px;
  background-color: #99F2C8;
  border: solid 3px #F2E852;
  margin-left: 30vw;
  margin-right: 30vw;
  padding: 10px;
  text-align: center;
}

#top h1{
  font-size: 50px;
  line-height: .8px;
}

#top img{
  width: 20vw;
  border-radius: 15px;
}

#solid{
  border: solid #020659 2px;
  margin: 10px;
}

#Goals {
  text-align: center;
}

#List{
  margin: 30px;
}

#links h4{
  text-align: center;
}

#links {
  border-radius: 5px;
  border: solid 3px #F2E852;
  background-color: #99F2C8;
  padding: 10px;
  margin: 20px;
}

.F1 {
  width: 40vw;
}

.F2 {
  width: 33.5vw;
}

button{
  font-size: 30px;
  margin: 10px;
  padding: 7px 100px;
}
