body{
  margin: 0 0 0 0;
  font-family: 'IBM Plex Mono', monospace;
}

h1{
  font-size: 80px;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 75px;
}

h3{
  font-size: 50px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
}

h4{
  font-size: 35px;
  margin-bottom: 0px;
}

/* styling for home button on other pages */
#home{
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
}

/* start of header section */
@media screen and (min-width: 1200px){
  #header{
    display: flex;
    margin-left: 120px;
    border-right: 800px solid #E6CD00;
  }
}

@media screen and (max-width: 1200px){
  #header{
    display: flex;
    margin-left: 120px;
    border-right: 800px solid #E6CD00;
    background-color: #E6CD00;
  }
}

#pageTitle{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* start of about me section */

#aboutMe{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 120px;
  border-left: 120px solid #17CDE6;
}

#whoAmI{
  display: flex;
}

#whoTitle{
  width: 700px;
}

#skillTitle{
  width: 420px;
}

#mySkills{
  display: flex;
}

/* start of work section */

#works{
  margin-left: 120px;
  margin-right: 0px;
  margin-top: 0px;
  border-right: 120px solid #E60076;
}

#workFlex{
  display: flex;
  margin-top: 10px;
}

@media screen and (min-width: 1200px){
  #imgSize{
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin-left: 200px;
    border: solid 2px black;
  }
}

@media screen and (max-width: 1200px){
  #imgSize{
    visibility: hidden !important;
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin-left: 200px;
  }
}

/* start of contact section */

#contact{
  border-left: 120px solid #E6CD00;
  padding-bottom: 10px;
}

#contact h4{
  margin-left: 20px;
}

/* class styling */

.line{
  margin: 0px 120px 0px 120px;
  border: solid Black 3px;
}

.links{
  outline: none;
  text-decoration: none;
  color: black;
}

.links:hover{
  color: #E60076;
}

.artPhoto{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.textPhoto{
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* art page */
#ah1{
  background-color: #FC74F6;
  margin-top: 0px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;

}

@media screen and (min-width: 1200px){
  #artPortfolio{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow:row;
    grid-auto-rows: 50vh;
    margin: 0px 200px 50px 200px;
  }

  #artpic1{
    grid-row-start:span 2;
  }

  #artpic6{
    grid-row-start:span 2;
  }

  #artpic7{
    grid-row-start:span 3;
  }

  #artpic4{
    grid-column-start:span 2;
    grid-row-start:span 2;
  }

  #artpic5{
    grid-column-start:span 2;
    grid-row-start:span 2;
  }

  #artpic9{
    grid-column-start:span 2;
    grid-row-start:span 2;
  }
}

@media screen and (max-width: 1200px){
  #artPortfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow:row;
    grid-auto-rows: 50vh;
    margin: 0px 100px 50px 100px;
    width: 80%;
  }

  #artpic1{
    grid-row-start:span 2;
  }

  #artpic6{
    grid-row-start:span 2;
  }

  #artpic7{
    grid-row-start:span 3;
  }
}

/* text page */
#th1{
  background-color: #74FCBA;
  margin-top: 0px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

@media screen and (min-width: 768px){
  #textPortfolio{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow:row;
    grid-auto-rows: 50vh;
    margin: 0px 200px 50px 200px;
  }

  #textpic1{
    grid-column-start:span 2;
    grid-row-start:span 2;
  }

  #textpic2{
    grid-column-start:span 2;
    grid-row-start:span 2;
  }
}

@media screen and (max-width: 768px){
  #textPortfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow:row;
    grid-auto-rows: 50vh;
    margin: 0px 100px 50px 100px;
  }
}

/* web page */
#wh1{
  background-color: #F5AD7D;
  margin-top: 0px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

@media screen and (min-width: 768px){
  #webPage{
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
  }

  #webFigma{
    width: 500px;
    height: 600px;
  }

  #web1{
    margin-top: 200px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px){
  #webPage{
    margin-left: 100px;
    margin-right: 100px;
  }

  #webFigma{
    width: 400px;
    height: 500px;
  }
}

/* image page */
#ih1{
  background-color: #7690E6;
  margin-top: 0px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#video{
  margin-left:200px;
}

@media screen and (min-width: 768px){
  #imageBot{
    margin-left: 200px;
  }
}
@media screen and (max-width: 768px){
  #imageBot{
    margin-left: 50px;
  }
  #video{
    margin-left: 50px;
    width:45vh;
  }
  #imageBoard{
    width: 50vh;
  }
}

/* Object page */
#oh1{
  background-color: #F4F593;
  margin-top: 0px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#oI1{
  width: 50%;
}

#oMain{
  text-align: center;
}

#oP1{
  margin-left: 400px;
  margin-right: 400px;
}
