body{
  padding: 0px;
  margin: 0px;
  font-family: helvetica;
}

#photo{
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  margin:0px;
  padding:0px;
}

#photo img{
  width: 130vw;
  height: 60vh;
  position: relative
}

#photo h1{
  z-index: 1;
  position: relative;
  font-size: 4vw;
  top: 28vh;
  margin: 0 0 0 7vw;
}

#one, #two{
  border: solid black 2px;
  margin-left: 7vw;
  margin-right: 3vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
  padding-left: 1vw;
}

button{
  background-color: #ebbd34;
  font-size: 30px;
  margin: 10px;
  padding: 7px 100px;
}

button:active{
  background-color: blue;
}

button:hover{
  border: solid Black 3px;
}
